annotated-types==0.7.0
greenlet==3.5.3
numpy==2.5.1
pandas==3.0.3
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pyodbc==5.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
SQLAlchemy==2.0.51
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
